@import url("main.css");
/* *{
    border:1px solid red;
} */
header {
    padding-bottom: 20px;
}

.top_girl {
    width: 60%;
}

#project_list_swiper {
    padding: 50px 0;
    margin:0 5%;
}

#project_list_swiper .swiper-slide {
    width: 80%;
    overflow: hidden;
}

#project_list_swiper .swiper-slide .caption {
    background-color: rgba(248, 244, 237, 0.8);
    width: 100%;
    position: absolute;
    bottom: 0; 
    padding: 5px 0;
}

#project_list_swiper .swiper-slide a {
    text-decoration: none;
    font-size: 25px;
}

#project_list_swiper .swiper-slide img {
    transition: 0.3s;
}

#project_list_swiper .swiper-slide img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.sub_title {
    font-weight: bold;
    text-decoration: underline;
}

.basic_info_body {
    line-height: 35px;
    margin-bottom: 0;
}

.nav-pills-custom .nav-link:hover {
    color: var(--banner_green);
    opacity: 0.5;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: var(--banner_green);
    background: #fff;
}

/* Add indicator arrow for the active tab */
@media (min-width: 576px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.reflection_text {
    text-indent: 40px;
    line-height: 40px;
    font-size: 25px;
    border-left: 6px solid var(--banner_pink);
    padding-left: 25px;
}

ul ol {
    padding: 5px 0;
}

ul li {
    padding: 5px 0;
}

.red_word {
    font-size: 22px;
    color: var(--banner_pink);
}

.mindpeace_service p {
    font-size: 15px;
}

.mindpeace_service i {
    font-size: 30px;
    padding-bottom: 10px;
}

.mindpeace_service .fas {
    color: var(--banner_pink);
}

.mindpeace_service .far {
    color: var(--banner_green);
}

#Mindpeace_tests .swiper-wrapper {
    padding-bottom: 50px;
}

#Mindpeace_tests .swiper-wrapper .swiper-slide img {
    width: 90%;
    margin: 0 3.5%;
}

#Mindpeace_development .swiper-wrapper {
    padding-bottom: 50px;
}

#Mindpeace_development .swiper-wrapper .swiper-slide img {
    width: 90%;
    margin: 0 4.5%;
}

.tab-content h4 {
    text-align: center;
}

#PAMS_experiments .swiper-wrapper {
    padding-bottom: 50px;
}

#PAMS_experiments .swiper-wrapper .swiper-slide img {
    width: 90%;
    margin: 0 5%;
}